body {
  background-color: #a878f0;
  color: #fff;
  background-image: URL("https://hdqwalls.com/download/nature-background-2560x1440.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}
.ki{
  background-color: #8d42ee;
  margin-top:20px;
  padding-top:20px;
  border-radius: 30px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:20px;
 
}
.h2{
  font-size: 20px;
 
}
#heading{
  color:black;
  transition: all .2s ease-in-out;
  font-family: 'Black Ops One', cursive;
}

.App {
  text-align: center;
}

.taskBg {
  background-color: #6d0ee1;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}
.taskBg:hover{
  background-color: #0c1e91;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #e0d7d7;
  border: 2px solid #131212;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}
